body {
    color: #7a8188;
    background-image: linear-gradient(to left, rgb(33, 38, 41), rgb(13, 15, 13), rgb(0, 0, 0));
}

.conteiner {
    max-width: 600px;
    margin: auto;
}

.name {
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(13, 15, 13),  rgb(33, 38, 41));
    border-radius: 16px;
}

.Experience {
    display: block;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(13, 15, 13),  rgb(33, 38, 41));
    max-width: 600px;
    margin: auto;
    border-radius: 16px;
}

table {
    width: 100%;
}

tr {
    text-align: center;
}

.hobby {
    border-radius: 16px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(13, 15, 13),  rgb(33, 38, 41));
}

.about {
    border-radius: 16px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(13, 15, 13),  rgb(33, 38, 41));
}

#social {
    text-align: center;
}